<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>关于我们 | 易英教育</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/skeleton.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/layout.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/flexslider.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/prettyPhoto.css' %}">
    
    <!-- CSS
  ================================================== -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script src="{% static 'js/jquery.flexslider-min.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>

    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Favicons    !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! THIS PART need to MODIFIED, CREATE NEW ICON!!!!!!!!!!!!
    ================================================== -->
    <link rel="shortcut icon" href="{% static 'images/icon.ico' %}">
    <link rel="apple-touch-icon" href="{% static 'images/c.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/b.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/a.png' %}">

</head>
<body>
    <!-- Primary Page Layout
    ================================================== -->

    <header id="header" class="site-header" role="banner">
    <div id="header-inner" class="container sixteen columns over">
    <hgroup class="one-third column alpha">
    <h1 id="site-title" class="site-title">
    <a href="http://www.easyace.sg" id="logo"><img src="{%static 'images/Logo_Easy Ace.jpeg'%}" alt="EasyAce logo" height="140" width="280" /></a>
    </h1>
    </hgroup>
    <div align ="right">
    <a href="http://www.easyace.sg">English</a>
    </div>
    <nav id="main-nav" class="two thirds column omega">
    <ul id="main-nav-menu" class="nav-menu">
            <li id="menu-item-1">
    <a href="http://www.easyace.sg/zh/index">首页</a>
    </li>
    <li id="menu-item-2"  class="current">
    <a href="http://www.easyace.sg/zh/aboutus">关于我们</a>
    </li>
    <li id="menu-item-3">
    <a href="http://www.easyace.sg/zh/welfare">我们的福利</a>
    </li>
    <li id="menu-item-4">
    <a href="http://www.easyace.sg/zh/testimonial">学生事宜</a>
    </li>
    <li id="menu-item-5">
    <a href="http://www.easyace.sg/zh/faq">教师事宜</a> 
    </li>
    <li id="menu-item-6">
    <a href="http://www.easyace.sg/zh/contact">联系我们</a>
    </li>
    </ul>
    </nav>
    </div>
    </header>

	<div class="container">
        <article class="sixteen columns main-content">
        <div class="tagline">
        <p>易英教育是由SM系列奖学金生创办的补习中介，全体管理人员都是新加坡国立大学或南洋理工大学的在读学生。成长在新加坡教育体制下的我们更懂得且体谅求学过程中的不易，因此励志打造最人性化的补习中心，让每一位老师享受教学，让每一位学生愉快求学。虽然年轻，但我们包容、进取、潜力无限。</p>
<hr>
<ul>
    <li><strong>我们的使命</strong></li>
    <li>To fulfil the need of the community through our service</li>
    <li><br><strong>我们的愿景</strong></li>
    <li>To become an extraordinary world-leading service provider</li>
    <li><br><strong>核心价值</strong></li>
    <li>Passion, Integrity, Accountability, Professionalism</li>
</ul>
        </div>
        <hr>

        <article class = "one column left-sidebar">
            &nbsp
        </article>
		<article class="five columns main-content" align="center">
            <a><img src="{%static 'images/IMG_1619.JPG'%}" height="299" width="200" /></a>
            <br>汪晓然
            <br>执行董事，首席财务官
            <br><br>探索宇宙奥秘，揭秘人性之本。
        </article>
        <!-- End main Content -->
        
        
        <article class="five columns main-content" align="center">
            <a><img src="{%static 'images/IMG_1620.JPG'%}" height="299" width="200" /></a>
            <br>林叶阳  
            <br>首席执行官，易英教育总裁
            <br><br>机会只留给有准备的人。
        </article>
        <!-- End main Content -->
        
        <article class="five columns main-content" align="center">
            <a><img src="{%static 'images/IMG_1621.JPG'%}" height="299" width="200" /></a>
            <br>丘旻卉  
            <br>高级秘书
            <br><br>形势越困难，勇者志越坚；
            <p>艰难之路，唯勇者行。</p>
        </article>
        <!-- End Right Sidebar -->
    <hr>




        <article class="four columns left-sidebar">
            <a><img src="{%static 'images/IMG_1622.JPG'%}" height="299" width="200" /></a>
            <br>金博
            <br>高级经理，学生部门
            <br><br>不要一心想着成功，要去做一个有真正价值意义的人。
        </article>
        <!-- End Left Sidebar -->
        
        <article class="four columns main-content">
            <a><img src="{%static 'images/IMG_1623.JPG'%}" height="299" width="200" /></a>
            <br>杨殷伦
            <br>高级经理，教师部门
            <br><br>日食一苹果，疾病莫缠我。
        </article>
        <!-- End main Content -->

         <article class="four columns main-content">
            <a><img src="{%static 'images/IMG_1624.JPG'%}" height="299" width="200" /></a>
            <br>孙媛媛
            <br>市场部总监
            <br><br>Dance like there's nobody, love like you'll never be hurt, sing like there's nobody listening, and live like it's heaven on earth 
        </article>
        
        <ariticle class="four columns right-sidebar">
            <a><img src="{%static 'images/IMG_1625.JPG'%}" height="299" width="200" /></a>
            <br>陈适健
            <br>市场部副总监
            <br><br>志存高远，脚踏实地；千里之行，始于足下。
        </ariticle>

    </article>
    </div>

<footer>

<div class="footer-inner container">
<div class="social footer-columns one-second column">
<h2><i class="icon-bullhorn icon-large"></i> 社区</h2>

<a href="https://www.linkedin.com/company/easy-ace-pte-ltd?trk=top_nav_home" class = "three columns main-content"><i class="icon-linkedin-sign icon-large"></i> 领英</a>

</div>
</div>

<div id="footer-base">
<div class="container">
<div class="eight columns">
Copyright &copy; 2015 Easy Ace Pte. Ltd.
</div>
</div>
</div>

</footer>

<!-- End Document
================================================== -->

<script src="js/jquery.prettyPhoto.js"></script>
</body>
</html>

