<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>About us | Easy Ace</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/skeleton.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/layout.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/flexslider.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/prettyPhoto.css' %}">
    
    <!-- CSS
  ================================================== -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script src="{% static 'js/jquery.flexslider-min.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>

    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Favicons    !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! THIS PART need to MODIFIED, CREATE NEW ICON!!!!!!!!!!!!
    ================================================== -->
    <link rel="shortcut icon" href="{% static 'images/icon.ico' %}">
    <link rel="apple-touch-icon" href="{% static 'images/c.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/b.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/a.png' %}">

</head>
<body>



    <!-- Primary Page Layout
    ================================================== -->

    <header id="header" class="site-header" role="banner">
    <div id="header-inner" class="container sixteen columns over">
    <hgroup class="one-third column alpha">
    <h1 id="site-title" class="site-title">
    <a href="http://www.easyace.sg" id="logo"><img src="{%static 'images/Logo_Easy Ace.jpeg'%}" alt="EasyAce logo" height="140" width="280" /></a>
    </h1>
    </hgroup>
    <div align ="right">
    <a href="http://www.easyace.sg/zh">简体中文</a>
    </div>
    <nav id="main-nav" class="two thirds column omega">
    <ul id="main-nav-menu" class="nav-menu">
            <li id="menu-item-1">
    <a href="http://www.easyace.sg">Home</a>
    </li>
    <li id="menu-item-2"  class="current">
    <a href="http://www.easyace.sg/aboutus">About us</a>
    </li>
    <li id="menu-item-3">
    <a href="http://www.easyace.sg/welfare">Welfare</a>
    </li>
    <li id="menu-item-4">
    <a href="http://www.easyace.sg/testimonial">For Student</a>
    </li>
    <li id="menu-item-5">
    <a href="http://www.easyace.sg/faq">For Tutor</a> 
    </li>
    <li id="menu-item-6">
    <a href="http://www.easyace.sg/contact">Contact us</a>
    </li>
    </ul>
    </nav>
    </div>
    </header>

	<div class="container">
        <div class="tagline">
        <p>Easy Ace is a Tuition Service Provider founded by a group of students from NUS and

NTU, who wish to provide high quality tuition to the students in Singapore. We treat 

tuition as a service instead of just a business.

As we have been through Singapore’s education system ourselves, we know the 

pressure and difficulty it imposes on each student. Therefore, we aim to develop the 

most people-oriented service to make every tutor enjoy teaching and every student 

enjoy studying.</p>
<hr>
<ul>
    <li><strong>Our Mission</strong></li>
    <li>To fulfil the need of the community through our service</li>
    <li><br><strong>Our Vision</strong></li>
    <li>To become an extraordinary world-leading service provider</li>
    <li><br><strong>Our Core Values</strong></li>
    <li>Passion, Integrity, Accountability, Professionalism</li>
</ul>
        </div>
        <hr>

        <article class = "one column left-sidebar">
            &nbsp
        </article>
		<article class="five columns main-content" align="center">
            <a><img src="{%static 'images/IMG_1619.JPG'%}" height="299" width="200" /></a>
            <br>Christoph Wang Xiaoran
            <br>Executive Director, CFO
            <br><br>Discover the unkown universe;
            <p>Uncover the human nature.</p>
        </article>
        <!-- End Left Sidebar -->
        
        
        <article class="five columns main-content" align="center">
            <a><img src="{%static 'images/IMG_1620.JPG'%}" height="299" width="200" /></a>
            <br>Kent Lin Yeyang  
            <br>CEO, President
            <br><br>Opportunity favours only the 
            <p>prepared minds.</p>
        </article>
        <!-- End main Content -->
        
        <article class="five columns main-content" align="center">
            <a><img src="{%static 'images/IMG_1621.JPG'%}" height="299" width="200" /></a>
            <br>Qiu Minhui  
            <br>Secretary
            <br><br>When the going gets tough,
            <p>tough gets going.</p>
        </article>
        <!-- End Right Sidebar -->
    <hr>




        <article class="four columns left-sidebar">
            <a><img src="{%static 'images/IMG_1622.JPG'%}" height="299" width="200" /></a>
            <br>Bustin Jin Bo
            <br>Manager, Student Department
            <br><br>Strive not to be a success,
            <p>but rather to be of value.</p>
        </article>
        <!-- End Left Sidebar -->
        
        <article class="four columns main-content">
            <a><img src="{%static 'images/IMG_1623.JPG'%}" height="299" width="200" /></a>
            <br>Lenna Yang Yinlun 
            <br>Manager, Tutor Department
            <br><br>An apple a day keeps the doctor
            <p>away.</p>
        </article>
        <!-- End main Content -->

         <article class="four columns main-content">
            <a><img src="{%static 'images/IMG_1624.JPG'%}" height="299" width="200" /></a>
            <br>Elaine Sun Yuanyuan  
            <br>Marketing Director
            <br><br>Dance like there's nobody watching, love like you'll never be hurt, sing like there's nobody listening, and live like it's heaven on earth 
        </article>
        
        <ariticle class="four columns right-sidebar">
            <a><img src="{%static 'images/IMG_1625.JPG'%}" height="299" width="200" /></a>
            <br>Stephen Chen Shijian  
            <br>Vice Marketing Director
            <br><br>Keep your eyes on the stars,
            <p>and your feet on the ground.</p>
        </ariticle>

    </div>
<br><br>

<footer>

<div class="footer-inner container">
<div class="social footer-columns one-second column">
<h2><i class="icon-bullhorn icon-large"></i> Get Social</h2>

<a href="https://www.linkedin.com/company/easy-ace-pte-ltd?trk=top_nav_home" class = "three columns main-content"><i class="icon-linkedin-sign icon-large"></i> LinkedIn</a>

</div>
</div>

<div id="footer-base">
<div class="container">
<div class="eight columns">
Copyright &copy; 2015 Easy Ace Pte. Ltd.
</div>
</div>
</div>

</footer>

<!-- End Document
================================================== -->

<script src="js/jquery.prettyPhoto.js"></script>
</body>
</html>

