<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>联系我们 | 易英教育</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/skeleton.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/layout.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/flexslider.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/prettyPhoto.css' %}">
    
    <!-- CSS
  ================================================== -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script src="{% static 'js/jquery.flexslider-min.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    <script src="http://maps.googleapis.com/maps/api/js"></script>
    <script>
    function initialize() {
        var myLatLng = {lat:1.33002, lng:103.95123};
        var mapProp = {
            center:myLatLng,
            zoom:15,
            mapTypeId:google.maps.MapTypeId.ROADMAP
        };
        var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
        var marker=new google.maps.Marker({
            position:myLatLng,
        });

        marker.setMap(map);
    }
    google.maps.event.addDomListener(window, 'load', initialize);
    </script>

    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Favicons    !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! THIS PART need to MODIFIED, CREATE NEW ICON!!!!!!!!!!!!
    ================================================== -->
       <link rel="shortcut icon" href="{% static 'images/icon.ico' %}">
    <link rel="apple-touch-icon" href="{% static 'images/c.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/b.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/a.png' %}">

</head>
<body>



    <!-- Primary Page Layout
    ================================================== -->

    <header id="header" class="site-header" role="banner">
    <div id="header-inner" class="container sixteen columns over">
    <hgroup class="one-third column alpha">
    <h1 id="site-title" class="site-title">
    <a href="http://www.easyace.sg" id="logo"><img src="{%static 'images/Logo_Easy Ace.jpeg'%}" alt="EasyAce logo" height="140" width="280" /></a>
    </h1>
    </hgroup>
    <div align="right">
    <a href="http://www.easyace.sg">English</a>
    </div>
    <nav id="main-nav" class="two thirds column omega">
    <ul id="main-nav-menu" class="nav-menu">
        <li id="menu-item-1">
    <a href="http://www.easyace.sg">首页</a>
    </li>
    <li id="menu-item-2">
    <a href="http://www.easyace.sg/aboutus">关于我们</a>
    </li>
    <li id="menu-item-3">
    <a href="http://www.easyace.sg/welfare">我们的福利</a>
    </li>
    <li id="menu-item-4">
    <a href="http://www.easyace.sg/testimonial">学生事宜</a>
    </li>
    <li id="menu-item-5">
    <a href="http://www.easyace.sg/faq">教师事宜</a> 
    </li>
    <li id="menu-item-6"   class="current">
    <a href="http://www.easyace.sg/contact">联系我们</a>
    </li>
    </ul>
    </nav>
    </div>
    </header>

	<div class="container">
        <div class="eight columns main-content">
        <address>
            <h2>Contact us via</h2>
            <p>Telephone: +65 9821 9678</p>
            <p>E-mail: <a href="mailto:tuition@easyace.sg">tuition@easyace.sg</a></p>
            <p>Location:</p>
            <p>Upper Changi Road East Summer Gardens</p>
            <p>Singapore 486163</p> 
        </address> 
        </div>
        <div class= "eight columns main-content"> 
            <div id="googleMap" style="width:500px;height:380px;"></div>
        </div>   
    </div>
    <br><br>
<br><br><br><br><br><br><br><br><br><br>
<footer>

<div class="footer-inner container">
<div class="social footer-columns one-second column">
<h2><i class="icon-bullhorn icon-large"></i> 社区</h2>

<a href="https://www.linkedin.com/company/easy-ace-pte-ltd?trk=top_nav_home" class = "three columns main-content"><i class="icon-linkedin-sign icon-large"></i> 领英</a>

</div>
</div>

<div id="footer-base">
<div class="container">
<div class="eight columns">
Copyright &copy; 2015 Easy Ace Pte. Ltd.
</div>
</div>
</div>

</footer>

<!-- End Document
================================================== -->

<script src="js/jquery.prettyPhoto.js"></script>
</body>
</html>

