<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>教师事宜 | 易英教育</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/skeleton.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/layout.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/flexslider.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/prettyPhoto.css' %}">
    
    <!-- CSS
  ================================================== -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script src="{% static 'js/jquery.flexslider-min.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    <script>
    function yourFunction() {
        window.open("https://docs.google.com/forms/d/1lOQMvwsigOUKfjFWL9vWC_L9OCsMQBxfNOYKPfOUymQ/viewform?c=0&w=1");
    }
    </script>
<style type="text/css">
.popup {
    zoom:1.0;
    position:relative;
    text-decoration:none;
}
.popup span {
    position:fixed;
    top:170px;
    left:500px;
    width:350px;
    padding:0px;
    border:0px solid #000;
    border-radius:10px;
    left:-999em;
    z-index:990;
        
}
.popup:hover {visibility:visible}
.popup:hover span {left:350px;}
* html .popup span {position:absolute;}
</style>

    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Favicons    !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! THIS PART need to MODIFIED, CREATE NEW ICON!!!!!!!!!!!!
    ================================================== -->
       <link rel="shortcut icon" href="{% static 'images/icon.ico' %}">
    <link rel="apple-touch-icon" href="{% static 'images/c.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/b.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/a.png' %}">

</head>
<body>



    <!-- Primary Page Layout
    ================================================== -->

    <header id="header" class="site-header" role="banner">
    <div id="header-inner" class="container sixteen columns over">
    <hgroup class="one-third column alpha">
    <h1 id="site-title" class="site-title">
    <a href="http://www.easyace.sg" id="logo"><img src="{%static 'images/Logo_Easy Ace.jpeg'%}" alt="EasyAce logo" height="140" width="280" /></a>
    </h1>
    </hgroup>
    <div align="right">
    <a href="http://www.easyace.sg">English</a>
    </div>
    <nav id="main-nav" class="two thirds column omega">
    <ul id="main-nav-menu" class="nav-menu">
        <li id="menu-item-1">
    <a href="http://www.easyace.sg/zh">首页</a>
    </li>
    <li id="menu-item-2">
    <a href="http://www.easyace.sg/zh/aboutus">关于我们</a>
    </li>
    <li id="menu-item-3">
    <a href="http://www.easyace.sg/zh/welfare">我们的福利</a>
    </li>
    <li id="menu-item-4">
    <a href="http://www.easyace.sg/zh/testimonial">学生事宜</a>
    </li>
    <li id="menu-item-5"   class="current">
    <a href="http://www.easyace.sg/zh/faq">教师事宜</a> 
    </li>
    <li id="menu-item-6">
    <a href="http://www.easyace.sg/zh/contact">联系我们</a>
    </li>
    </ul>
    </nav>
    </div>
    </header>
    <div class="container">
    <article class="sixteen columns main-content">
<h2>易英教育，您的首要选择！
    &nbsp&nbsp&nbsp
    <a class="myButton" id = "stureg">教师注册</a>
        <script>
            document.getElementById("stureg").addEventListener("click", yourFunction)
        </script>
</h2>
<h4>1.合理的学生推荐：</h4>
 
<p>易英教育将会根据您所要求的地点、科目和空闲时间给您推荐学生，尽我们所能最大程度上为您提供带来便利。
</p>

<h4>2.高效的备课过程：</h4>
<p>如果您是一名新手教师，我们会为您提供免费的训练课程，。这将让您快速掌握能在最短的时间内上手教学技巧教课。
</p>
<p>通过易英教育的我们的资源分享系统(Sharing System)会将老师们的教案分类整理以便供人借鉴，这将为您您将免去大量大量准备教学书资源的时间，这毫无疑问会使您的教学变得更有效率，备课过程更加轻松。
</p>
<p>如果作为老师的您在教学过程中遇到难题，有不懂的问题，你可以通过在我们的网站上的登录老师讨论板块匿名提问，等待其他老师回复，快捷方便的解决您的问题。（新功能，敬请期待）
</p>
<h4>3.系统的教学规划：</h4>
<p>通过整理根据学生的课后评价(Student’s Feed back)和老师的教学记录(Teaching Record)，您可以更方便的关注学生动态、调整课程方案、回顾往期课程，让您更系统、便利轻松地管理和安排后续整个教学计划。
</p>
<h4>4.优良的福利待遇：</h4>
<p>根据您的教学时间和成绩，我们将会根据教学时间和学生评价以最公正的方式为给您进行星级评分(Star Rating)，用最公正的方式提高您的薪资。只要您做得好，您的心血就不会白费。</p>
<p>除了上课所得学费能得到的薪水，您还能以通过填写教学纪录（Teaching Record）获得Ace Coin，以兑换更多的福利奖励，例如：我们会提供各种商店的优惠券、会员折扣星巴克抵用券，电影票等。
</p>
<h4>5.人性化的行政管理：</h4>
<p>易英教育大多数的管理成员团队大多数人都有过补习经验做过补习，因此我们非常了解并体谅您了解补习老师的需求。在易英教育工作，我们承诺会认真听取您的意见和建议，期待共同进步。
</p>
<p>您的教学时间是可调整的。我们将会实时跟踪您教学时间上的调整，并在必要时帮您完成与家长的协商会代替您和学生商量双方同意的上课时间和地点，省去您自己联系的麻烦。
</p>
<p>若您无法在约定时间进行授课，请在规定时间前通知我们，我们会根据情况进行追踪调整。如有必要，我们会帮您安排代课教师。如果您不能在所约定的上课时间到达指定地点上课，只要是在规定时间前通知我们，不会受到惩罚。若是学生很需要老师，我们将会帮您安排代课老师，整个过程不需要您来操心。
</p>
<p>我们承诺，绝不会中途恶意给您更换学生。总而言之，易英教育一定会给您带来最佳的教学体验，让你收获颇丰！
</p>
<hr>


<h2>教师疑点解答</h2>
<h4>1. 我们是谁？</h4>

<p>我们是一所具有领袖与颠覆精神的教育补习机构。</p>

<h4>2. 我们是否可信赖？</h4>

<p>我们是在新加坡ACRA正式注册的一家合法机构，具有绝对的可靠性和合法性。</p>

<h4>3. 我们如何收费？</h4>

<p>我们只收取老师第一个月补习佣金的50%。</p>

<h4>4. 我没有任何教学经验，可以成为一名补习老师吗？</h4>

<p>可以的。我们会给您提供课程指导您如何教课。</p>

<h4>5. 我需要具备怎样的资格才能成为易英教育的老师？</h4>

<p>您需要拥有至少新加坡O水准毕业证书或同等级考试、或与教学内容相关的资

格证书。</p>

<h4>6. 我怎样可以在分配学生上获得优先权？</h4>

<p>- 教学时间、地点、科目等自由度高</p>

<p>- 教冷门的科目。例如英语 、生物、化学等。</p>

<p>- 乐意与我们分享教学资料</p>

<p>- 认真完成每一次的教学记录</p>

<p>- 获得学生的好评</p>

<h4>7. 我需要自己准备教学资料吗？</h4>

<p>不一定。如果您没有教学资料，我们会尽可能给您提供教学资料。相应的，我

们也希望您能与我们分享教学资料，这也将提高您的学生分配优先权。</p>

<h4>8. 是否有试讲课？试讲课是否收费？</h4>

<p>我们会有一节试讲课程。如果学生满意老师，试讲课程收费；如果学生不满意

，试讲课程不收费。</p>

<h4>9. 星级评定系统是什么？</h4>

<p>星级评定是用来评测老师的表现与能力的系统。<div><img src = "{%static 'images/tutor_star.png'%}" /></div></p>

<p>Star Level：星级</p>

<p>Weighted Average Scores：加权平均分</p>

<h4>10. 我们为什么有星级评定系统？</h4>

<p>本系统用来奖励表现优异的老师，如果您得到较高的星级评定，您会得到：</p>

<p>a)分配学生方面的优先权</p>

<p>b)更高薪水</p>

<p>c)小班授课机会，从而得到更高薪水</p>

<h4>11. 给老师分配新学生的几率是多大？</h4>

<p>相较于其他补习中心，我们对所有的老师都进行面试。所以只要您通过了我们

的面试，得到新生的几率比其他机构高。</p>

<h4>12. 我每次上完课都要填教学记录吗？</h4>

<p>是的。填写教学记录仅仅花费30秒的时间，不仅可以帮您记录教学内容、时间

、地点等，还有助于提高您被分配学生的优先权利。</p>

<h4>13. 易英教育会不经过我直接向学生收费吗？</h4>

<p>不会。</p>

<h4>14. 相较于其他补习机构，在易英教育工作老师会赚得更多吗？</h4>

<p>只要您一直在易英教育教书，您的星级评定会随着时间而增长，从而获得高于

其他补习机构的薪资（我们给予老师的薪水取决于老师的星级）。</p>

<h4>15. 我将如何收取薪资？</h4>

<p>您负责自己从学生处收取应得学费，再在合同规定时间内将约定数额转给易英

教育。</p>

<h4>16. 我如何付佣金给易英教育？</h4>

<p>请联系易英教育负责人员。</p>

<h4>17. 我可以重新安排上课时间吗？改动上课时间会受到惩罚吗？</h4>

<p>可以，但是为了学生着想，您必须在三天之前告知易英教育负责人员，否则您

的星级和薪资将会受到影响。</p>

<h4>18. 如果我在第一个月上课期间想要取消课程，易英教育会如何处理？</h4>

<p>如果取消课程获得了学生的许可，您只需要付给易英教育您目前所得的50%。如

果并未获得学生许可，您需要付给易英教育合同上约定的全部数额。</p>

</article>
</div>

<footer>

<div class="footer-inner container">
<div class="social footer-columns one-second column">
<h2><i class="icon-bullhorn icon-large"></i> 社区</h2>

<a href="https://www.linkedin.com/company/easy-ace-pte-ltd?trk=top_nav_home" class = "three columns main-content"><i class="icon-linkedin-sign icon-large"></i> 领英</a>

</div>
</div>

<div id="footer-base">
<div class="container">
<div class="eight columns">
Copyright &copy; 2015 Easy Ace Pte. Ltd.
</div>
</div>
</div>

</footer>

<!-- End Document
================================================== -->

<script src="js/jquery.prettyPhoto.js"></script>
</body>
</html>

