<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>学生事宜 | 易英教育</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/skeleton.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/layout.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/flexslider.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/prettyPhoto.css' %}">
    
    <!-- CSS
  ================================================== -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script src="{% static 'js/jquery.flexslider-min.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    <script>
    function myFunction() {
        window.open("https://docs.google.com/forms/d/1O990xSl-5vQqS3-Od68LLiPKRDvyuqRnLcCKmnstvUM/viewform?c=0&w=1");
    }
    </script>
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Favicons    !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! THIS PART need to MODIFIED, CREATE NEW ICON!!!!!!!!!!!!
    ================================================== -->
       <link rel="shortcut icon" href="{% static 'images/icon.ico' %}">
    <link rel="apple-touch-icon" href="{% static 'images/c.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/b.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/a.png' %}">
</head>
<body>



    <!-- Primary Page Layout
    ================================================== -->

    <header id="header" class="site-header" role="banner">
    <div id="header-inner" class="container sixteen columns over">
    <hgroup class="one-third column alpha">
    <h1 id="site-title" class="site-title">
    <a href="https://www.easyace.sg" id="logo"><img src="{%static 'images/Logo_Easy Ace.jpeg'%}" alt="EasyAce logo" height="140" width="280" /></a>
    </h1>
    </hgroup>
    <div align="right">
    <a href="http://www.easyace.sg">English</a>
    </div>
    <nav id="main-nav" class="two thirds column omega">
    <ul id="main-nav-menu" class="nav-menu">
        <li id="menu-item-1">
    <a href="http://www.easyace.sg/zh">首页</a>
    </li>
    <li id="menu-item-2">
    <a href="http://www.easyace.sg/zh/aboutus">关于我们</a>
    </li>
    <li id="menu-item-3">
    <a href="http://www.easyace.sg/zh/welfare">我们的福利</a>
    </li>
    <li id="menu-item-4"   class="current">
    <a href="http://www.easyace.sg/zh/testimonial">学生事宜</a>
    </li>
    <li id="menu-item-5">
    <a href="http://www.easyace.sg/zh/faq">教师事宜</a> 
    </li>
    <li id="menu-item-6">
    <a href="http://www.easyace.sg/zh/contact">联系我们</a>
    </li>
    </ul>
    </nav>
    </div>
    </header>

	<div class="container">
        
        <article class="sixteen columns main-content">
        <h2> 易英教育，您的不二之选！
        &nbsp&nbsp&nbsp
        <a class="myButton" id = "stureg">学生注册</a>
        <script>
            document.getElementById("stureg").addEventListener("click", myFunction)
        </script>
        </h2>
        <h4>1.先进的服务理念：</h4>

<p>易英教育致力于发展热情、诚信、可靠、专业的教育服务，励志打造最人性化的服务系统，让每一位老师轻松教学，让每一位学生愉快求学。
</p>

<h4>2.优秀的教师团队：</h4>

<p>易英教育团队成员都是新加坡教育体系中的佼佼者，亲身经历过考试升学的我们更了解学生的常见困惑和学习需求，将竭尽所能制定最合理的教学体系为学生提供所需帮助。 
</p>
<p>易英教育老师都是严格筛选出的精英，他们在学术上成功的经验和独特学习技巧将有效充实您的知识储备，提高您的学习能力。
</p>

<h4>3.快捷的报名过程</h4>

<p>易英教育的报名过程简洁明了：只需要<a href = "https://docs.google.com/forms/d/1O990xSl-5vQqS3-Od68LLiPKRDvyuqRnLcCKmnstvUM/viewform?c=0&w=1">点此</a>填写我们的学生注册表格，我们即会在最短的时间内联系您，向您提供合适的老师信息。</p>

<h4>4.专业的师生匹配</h4>

<p>易英教育专业的师生匹配团队会人工为您挑选合适的教师，并提供多个备选供您比较，确保您的要求得到最大程度的满足。</p>

<h4>5.完善的资源分享</h4> 

<p>易英教育的网上教学资源将会为您提供课后所需的学习帮助，网站上课后练习、试题测验、线上问答等功能将帮助您强化知识记忆，熟练掌握答题技巧。</p>

<h4>6.优良的福利待遇</h4>

<p>学生可以通过填写课程评价（feedback form）等方式兑换更多的福利，例如：星巴克抵用券，电影票等。</p>

        <hr>
<h2> 学生疑点解答</h2>

<h4>1. Q: 请问我如何通过易英教育获得家教补习服务。</h4>

<p>A: 您可以点击进入并填写 学生注册表 ，收到后我们会迅速帮您匹配老师。</p>

<h4>2. Q: 我可以通过其他方式获得家教补习么？</h4>

<p>A: 您可以在我们网站上留下您的联系电话，我们会联系并帮助您。</p>

<h4>3. Q: 请问你们的收费标准怎样?</h4>

<p>A: 详情请参考 Tuition Rates
<div><img src = "{%static 'images/fee_rate.png'%}" height = "1500"></div>
</p>

<h4>4. Q: 请问我们可以试课么? 如果你们匹配的第一位老师不符合我们的要求如何解决？</h4>

<p>A: 如果您对我们匹配的老师不满意，我们会为您重新匹配老师。由第一位老师上的第一节不满意的课

我们不收费。如果您对我们匹配的老师满意，每节课都按正常价格收费。</p>

<h4>5. Q: 如果我对你们安排的第二位老师也不满意如何解决?</h4>


<p>A: 如果上述情况发生我们会继续为您重新匹配，不过第二位老师和之后的老师上的所有课都正常收费

。</p>

<h4>6. Q: 学生反馈表有什么用?</h4>

<p>A: 填写学生<a href = "https://docs.google.com/forms/d/1EpOj0dK_EDrYEkRjIiWUV9oPSkga0Fs9iivRmwlx0_c/viewform">反馈表</a>有助于我们对老师进行审核和评估。</p>

<h4>7. Q: 填写学生注册表对我有什么好处?</h4>

<p>A: 填写学生注册表有助于我们对我们的老师团队进行评估并相应地提高我们的老师团队的资质。如果

您填写完第一个月所有课程的反馈表，我们会为您提供价值20新币左右的奖品以表感谢。</p>

<h4>8. Q: 如果我想调整，取消，或者加课该通知谁?</h4>

<p>A: 学生和老师自行商量对课程的调整取消和增加。第一个月以内对课程的调整必须通知我们的学生部

门。</p>

<h4>9. Q: 我该如何联系易英教育?</h4>

<p>A: 您可以发送邮件至 <a href="mailto:tuition@easyace.sg">tuition@easyace.sg</a>，或直接打我们的电话8265 4707</p>
</p>

        </article>
    </div>

<footer>

<div class="footer-inner container">
<div class="social footer-columns one-second column">
<h2><i class="icon-bullhorn icon-large"></i> 社区</h2>

<a href="https://www.linkedin.com/company/easy-ace-pte-ltd?trk=top_nav_home" class = "three columns main-content"><i class="icon-linkedin-sign icon-large"></i> 领英</a>

</div>
</div>

<div id="footer-base">
<div class="container">
<div class="eight columns">
Copyright &copy; 2015 Easy Ace Pte. Ltd.
</div>
</div>
</div>

</footer>

<!-- End Document
================================================== -->

<script src="js/jquery.prettyPhoto.js"></script>
</body>
</html>

