<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>For Student | Easy Ace</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/skeleton.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/layout.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/flexslider.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/prettyPhoto.css' %}">
    
    <!-- CSS
  ================================================== -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script src="{% static 'js/jquery.flexslider-min.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    <script>
    function myFunction() {
        window.open("https://docs.google.com/forms/d/1O990xSl-5vQqS3-Od68LLiPKRDvyuqRnLcCKmnstvUM/viewform?c=0&w=1");
    }
    function yourFunction() {
        window.open("https://docs.google.com/forms/d/1lOQMvwsigOUKfjFWL9vWC_L9OCsMQBxfNOYKPfOUymQ/viewform?c=0&w=1");
    }
    </script>
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Favicons    !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! THIS PART need to MODIFIED, CREATE NEW ICON!!!!!!!!!!!!
    ================================================== -->
       <link rel="shortcut icon" href="{% static 'images/icon.ico' %}">
    <link rel="apple-touch-icon" href="{% static 'images/c.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/b.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/a.png' %}">
</head>
<body>



    <!-- Primary Page Layout
    ================================================== -->

    <header id="header" class="site-header" role="banner">
    <div id="header-inner" class="container sixteen columns over">
    <hgroup class="one-third column alpha">
    <h1 id="site-title" class="site-title">
    <a href="https://www.easyace.sg" id="logo"><img src="{%static 'images/Logo_Easy Ace.jpeg'%}" alt="EasyAce logo" height="140" width="280" /></a>
    </h1>
    </hgroup>
    <div align="right">
    <a href="http://www.easyace.sg/zh">简体中文</a>
    </div>
    <nav id="main-nav" class="two thirds column omega">
    <ul id="main-nav-menu" class="nav-menu">
        <li id="menu-item-1">
    <a href="http://www.easyace.sg">Home</a>
    </li>
    <li id="menu-item-2">
    <a href="http://www.easyace.sg/aboutus">About us</a>
    </li>
    <li id="menu-item-3">
    <a href="http://www.easyace.sg/welfare">Welfare</a>
    </li>
    <li id="menu-item-4"   class="current">
    <a href="http://www.easyace.sg/testimonial">For Student</a>
    </li>
    <li id="menu-item-5">
    <a href="http://www.easyace.sg/faq">For Tutor</a> 
    </li>
    <li id="menu-item-6">
    <a href="http://www.easyace.sg/contact">Contact us</a>
    </li>
    </ul>
    </nav>
    </div>
    </header>

	<div class="container">
    
        <article class="sixteen columns main-content">
        <h2> What Makes Easy Ace Your Best Choice as a Student!</h2>
        <div align = "left">
                <font size="4" color="#33733B">The future education. The only thing that's changed is everything.</font>
                <a class="myButton" id = "stureg">Student Register</a>
                <script>
                    document.getElementById("stureg").addEventListener("click",myFunction)
                </script>
        </div>
        <h4>Belief in Our Core Values</h4>

<p>passion, integrity, accountability, and professionalism.</p>

<h4>Strict Tutor Selection</h4>

<p>All our tutors are interviewed and carefully selected. Their experience and expertise 

from school days will guide your way in your academic study.</p>

<h4>Easy Application</h4>

<p>To start your Ace journey, simply fill in our student registration form here. We will 

contact you very soon once we receive the application.</p>

<h4>Fulfilling Student- Tutor Matching Process</h4>

<p>Each tuition application will be manually processed. All your tuition service needs 

and requirements will be taken care of by our matching team to our best capability, 

so that your fulfilling tuition experience will be assured.</p>

<h4>Empathy</h4> 

<p>The vast majority of our management team members have gone through the current 

education system within the past few years. We are in the position that deeply 

understands what kind of help you need to prevail in school.</p>

<h4>Additional Incentive</h4>

<p>Free gifts and vouches will be awarded to you for writing Student’s Feedback.</p>

        <hr>

<h2>FAQ for Students</h2>
<h4>1.  Q: How do I obtain tuition service from Easy Ace?</h4>
 
<p>A: You can simply register by completing 
<a href= "https://docs.google.com/forms/d/1O990xSl-5vQqS3-Od68LLiPKRDvyuqRnLcCKmnstvUM/viewform">Student Registration Form</a>. </p>

<h4>2.  Q: Can I get tuition without filling registration form? </h4>
<p>A: Yes, you can leave your phone number on our webpage a
nd we will contact you 
shortly. </p>
<h4>3.  Q: How do you charge? </h4>
<p>A: Please refer to Tuition Rates
    <div><img src="{%static 'images/fee_rate.png'%}" height = "1000"></div>
</p>
<h4>4.  Q: Is there a trial lesson? What if I find the first allocated tutor unsuitable for me? </h4>
<p>A: 
Yes
, there is one trial lesson for each tuition case. If th
e first tutor allocated is 
unsuitable for you after the first lesson, we are willin
g to change the tutor for you. 
The first lesson conducted will 
not
 be charged.  
However, if you are satisfied with the first tutor and 
decide to 
continue
, the first 
lesson will be 
chargeable
.  </p>
<h4>5.  Q: What if I find the second allocated tutor still unsuitable for me? </h4>
<p>A: This is an unlikely situation. However, you can still
 request to change for another 
tutor from Easy Ace, but the lesson given by the second tuto
r remains chargeable.   </p>
<h4>6.  Q: What is the Feedback Form for? </h4>
<p>A: Filling a 
<a href = "https://docs.google.com/forms/d/1EpOj0dK_EDrYEkRjIiWUV9oPSkga0Fs9iivRmwlx0_c/viewform">Feedback Form</a>
 only takes 
2 minutes
. It is an assessment for the lesson 
you just had.  </p>
<h4>7.  Q: Why should I fill in the Feedback Form? </h4>
<p>A:  Feedbacks  will  allow  us  to  improve  our  service 
for  you
  and  give  due 
credit/punishment to your tutor.  
If you complete the feedbacks for at least one consecutive mo
nth, 
vouchers with approximately S$20 value
 will 
be awarded. The details of the vouchers are shown in the <a href = "../welfare">Welfare</a>.  </p>
<h4>8.  Q: What should I do if I want to reschedule, cancel or add a tuition session? </h4>
<p>A: Student can settle with his or her own tutor. But
 within the first month, you must 
acknowledge us
 through email or phone call for any cancellation or a
ddition of 
lesson.  </p>
<h4>9.  Q: How do I contact Easy Ace to get further assistance? </h4>
<p>A:  Student  can  email  us  at 
<a href="mailto:tuition@easyace.sg">tuition@easyace.sg</a>
,  or  directly  contact  our  Student 
Manager at 82654707.  </p>
        
      
        <br><br>
        </article>
        <!-- End main Content -->

    </div>

<footer>

<div class="footer-inner container">
<div class="social footer-columns one-second column">
<h2><i class="icon-bullhorn icon-large"></i> Get Social</h2>

<a href="https://www.linkedin.com/company/easy-ace-pte-ltd?trk=top_nav_home" class = "three columns main-content"><i class="icon-linkedin-sign icon-large"></i> LinkedIn</a>

</div>
</div>

<div id="footer-base">
<div class="container">
<div class="eight columns">
Copyright &copy; 2015 Easy Ace Pte. Ltd.
</div>
</div>
</div>

</footer>

<!-- End Document
================================================== -->

<script src="js/jquery.prettyPhoto.js"></script>
</body>
</html>

